{% extends 'layout/admin.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content %} 
<h3>User</h3>
<fieldset>
    <legend>User</legend>
    <form action="" method="POST">
        {% include 'flash.html' %}
        <label for="username">Username <sup class="required">*</sup></label>
        <br>
        <input type="text" id="username" name="username">
        <br>
        <label for="password">Password <sup class="required">*</sup></label>
        <br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="{{ submit_tag }}" class="submit-button">
        <a href="{{ url_for('UserAdmin') }}"><input type="button" class="cancel-button" value="Cancel"></a>
    </form>
</fieldset>
{% endblock %}