{% extends 'layout/login.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <form action="" method="POST" class="login">
        <h3>Login</h3><hr>
        {% include 'flash.html' %}
        <label for="username">Username <sup class="required">*</sup></label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password <sup class="required">*</sup></label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login" class="submit-button">
    </form>
{% endblock %}