{% extends 'layout/main.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    {% include 'flash.html' %}
    <h3>{{ post.title }}</h3>
    <hr>
    {{ post.description }}
    <br><br>
    {% include 'comment/form.html' %}

    {% if comments %}
        {% for comment in comments %}
            <div class="comment">
                <strong><small>{{ comment[2] }} {{ comment[1] }} </small></strong> <br><small style="color: #aaa;">{{ comment[0].created_at }}</small><br>
                <p>{{ comment[0].comment }}</p>
                <!-- <p><a href=""><small>Reply</small></a></p> -->
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}